<div class="modal fade" id="Modal<%= answer.users_game.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      <div class="avatar-modale">
        <%= cl_image_tag answer.users_game.user.photo.key, class:"profil_round", id:"avatar" %>
        <h3><%= answer.users_game.user.nickname %></h3>
      </div>
      <div class="answers">
        <%= link_to refuse_path(song, answer), data: {turbo_method: :patch, action: "answers-index-subscription#updateStatus"}, class: "text-decoration-none", id:"wrong" do %>
          <i class="fa-sharp fa-regular fa-circle-xmark"></i>
        <% end %>
        <%= link_to accept_path(song, answer), data: {turbo_method: :patch, action: "answers-index-subscription#updateStatus"}, class: "text-decoration-none", id:"correct" do %>
          <i class="fa-regular fa-circle-check"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>
