<div>
  <div data-bs-toggle="modal" data-bs-target="#Modal<%= answer.users_game.id %>" class="player_card" data-bs-backdrop=false>
    <%= cl_image_tag answer.users_game.user.photo.key, class:"profil_round" %>
    <div class="player_card_info">
      <%= answer.users_game.user.nickname%>
      <%= answer.result_status %>
      <div><%= answer.response_time.truncate(2) %>s</div>
    </div>
 </div>
</div>
