<div id="show-unstarted">
  <div>
    <h1 class="pt-5">Game Ranking</h1>
    <p class="mb-5">And the winner is...</p>
  </div>

  <div class="flex-grow-1">
    <% sorted_users_games = game.users_games.order(score: :desc) %>

    <% if sorted_users_games.count <= 3 %>
      <div class="d-flex flex-column pt-4">
        <% users_games = game.users_games.order(score: :desc) %>
        <% users_games.each do |user_game| %>
          <div class="player_card">
           <%= user_image_tag(user: user_game.user, html_attributes: {class:"profil_round"} ) %>
            <div class="player_card_info d-flex justify-content-between">
              <p><%= user_game.user.nickname %></p>
              <p><strong><%= user_game.score %></strong></p>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="top_3_rank">
        <div class="avatar-highlight second">
          <% second_user = sorted_users_games[1].user %>
           <%= user_image_tag(user: second_user, html_attributes: {id: "profil_round_second", alt: "my_profil"})%>
          <h3>2</h3>
        </div>
        <div class="avatar-highlight first">
          <% first_user = sorted_users_games[0].user %>
          <%= user_image_tag(user: first_user, html_attributes: {id: "profil_round_first", alt: "my_profil"})%>
          <h3>1</h3>
        </div>
        <div class="avatar-highlight third">
          <% third_user = sorted_users_games[2].user %>
          <%= user_image_tag(user: third_user, html_attributes: {id: "profil_round_third", alt: "my_profil"}) %>
          <h3>3</h3>
        </div>
      </div>
      <div class="d-flex flex-column pt-4">
        <% users_games = game.users_games.order(score: :desc) %>
        <% users_games.each do |user_game| %>
          <div class="player_card">
            <%= user_image_tag(user: user_game.user, html_attributes: {class:"profil_round"}) %>
            <div class="player_card_info d-flex justify-content-between">
              <p><%= user_game.user.nickname %></p>
              <p><strong><%= user_game.score %></strong></p>
            </div>
          </div>
        <% end %>
    <% end %>
  </div>

<div>
  <%= link_to "Create a new game", new_game_path, class: "btn_pink_lg mt-3" %>
  <p class="link_join_party mt-3">If you don't want to be the game master, just wait for a link to join a game!</p>
  </div>
</div>